<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="container">
    <form action="/login" method="post">
        <ul>
            <li><input class="input-field" type="text" name="name" placeholder="your name" required> 

            </li>
            <li><input class="input-field" type="password" name="password" placeholder="password(optional)">

            </li>
            <li>
                <input class="submit-btn" type="submit" value="submit">

            </li>
        </ul>

    </form>
</div>
    <%- include("partials/footer.ejs") %>
    
</body>
</html>